/* nav li {          /* optional, commented out */
    display: inline;
} */

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.favourites label + div {
    display: none;
    width: 100%;
}

.favourites input:checked + label + div {
    display: block;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

img {
    max-width: 100%;
}

.gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .row-span-2 {
    grid-row: span 2;
}

.gallery .col-span-2 {
    grid-column: span 2;
}

.gallery a {
    transition: transform 0.2s ease-in-out;
}

.gallery a:hover {
    transform: scale(1.1);
}

/* paperclip over selfie */
.bio a {
    display: block;
    position: relative;
}

.paperclip {
    background: none;
    box-shadow: none;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20%, -20%);
}

#back-to-top {
    margin-left: -25px;
    position: sticky;
    bottom: 10px;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

#back-to-top:hover {
    transform: rotate(45deg);
}